$text-black-theme: rgb(255, 255, 255);
$bgc-black-theme: rgb(0, 0, 0);
$language-header-text: rgb(177, 129, 56);

$text-size-small: 16px;
$text-size-standart: 20px;
$text-size-medium: 32px;
$text-size-large: 40px;

$text-font-famyly: Roboto, serif;