// Colors
$text-black-theme: rgb(255, 255, 255);
$text-white-theme: rgb(0, 0, 0);
$bgc-black-theme: rgb(0, 0, 0);
$bgc-white-theme: rgb(253, 253, 253);
$language-header-text: rgb(177, 129, 56);
$bgc-intro: rgba(177, 129, 56, 0.8);
$bgc-section-header: rgb(177, 129, 56);
$bgc-error-page: rgb(255, 255, 255);
$bgc-search-pannel: rgb(233, 233, 233);

// Fonts
$main-font-famyly: "Inter", sans-serif;

$text-size-small: 16px;
$text-size-medium: 20px;
$text-size-large: 32px;

// Effects
$time-transition: 0.5s;

// Indents
$gap-small: 10px;
$gap-medium: 20px;
$gap-large: 40px;
