// Colors
$text-black-theme: rgb(255, 255, 255);
$bgc-black-theme: rgb(0, 0, 0);
$language-header-text: rgb(177, 129, 56);

// Fonts
$text-font-famyly: 'Inter', sans-serif;

$text-size-small: 16px;
$text-size-medium: 20px;
$text-size-large: 32px;

