@import "./../../../helpers/styles/variables";
@import "./../../../helpers/styles/mixins";

.layout {
  .social {
    &__media {
      display: flex;
      flex-direction: row;
      gap: $gap-medium;
      font-size: 2em;
      padding-bottom: $padding-standart;

      &-item {
        color: $text-black-theme;
      }
    }

    &__button a {
      display: inline-block;
      width: 100%;
      padding: 0.5em 2em;
      border: 2px solid;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-align: center;
      color: $text-black-theme;
      transition: $time-transition;
      background-color: $bgc-black-theme;
    }

    &__button a:hover {
      background: $btn-black-hover;
    }

    &__button a:active {
      background: $btn-black-active;
    }
  }
}

.layout.white {
  .social {
    &__media-item {
      color: $text-black-theme;
    }

    &__button a {
      color: $text-black-theme;
      background-color: $bgc-section-header;
    }

    &__button a:hover {
      background: $btn-black-hover;
      color: $text-black-theme;
    }

    &__button a:active {
      background: $btn-white-active;
    }
  }
}
