@import "./../../helpers/styles/variables";

$bgc-black: rgb(182, 80, 80);
$bgc-white: rgb(175, 254, 193);

.layout {
  background-color: $bgc-black;

  header {
    background-color: $bgc-black-theme;
  }
}

.layout.white {
  background-color: $bgc-white;

  header {
    background-color: $bgc-white-theme;
  }
}
