@import "./../../../helpers/styles/variables";
@import "./../../../helpers/styles/mixins";

.layout {
  .location {
    background-color: $bgc-black-theme;

    &__container {
      @include flex-alignment-up;
      flex-direction: column;
    }

    &-header {
      @include section-header;
    }

    &-map {
      filter: grayscale(1);
      -ms-filter: grayscale(1);
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      -o-filter: grayscale(1);
    }
  }
}

.layout.white {
  .location {
    background-color: $bgc-white-theme;
  }
}
