@import "./../../helpers/styles/_styles.scss";

.header {
  background-color: $bgc-black-theme;
  padding: 30px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


  &__logo {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 7px;

    &-name {
      color: $text-black-theme;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;

    gap: 40px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &-nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 450px;
    }

    &-search input{
      width: 430px;
      padding: 0 10px;
    }
  }

  &__language{

    &-text {
      color: $language-header-text;
    }

    &-btn {

    }
  }

  &__theme-btn{

  }
}

.text-menu {
color: $text-black-theme;
font-family: $text-font-famyly;
font-size: $text-size-standart;
}

.menu-search {

}

.language__btn-dropdown {

}

.dropdown-content {

}