@import "./../../helpers/styles/_variables.scss";

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $gap-large;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $bgc-error-page;

  &__header {
    height: 5vh;
  }
}
