@import "./../../helpers/styles/variables";
@import "./../../helpers/styles/mixins";

.layout {
  .footer {
    @include flex-alignment-center;
    background-color: $bgc-black-theme;
    color: $text-black-theme;

    &__container {
      @include section-width;
      display: flex;
      flex-direction: column;
      padding: $padding-small $padding-large;
      gap: $gap-large;
    }

    &__blocks {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      &-addresses,
      &-contacts,
      &-social {
        display: flex;
        flex-direction: column;
      }
    }

    &__list {
      padding-top: $padding-small;
    }

    &__name-company {
      text-align: center;
    }
  }
}

.layout.white {
  .footer {
    background-color: $bgc-white-theme;

    &__container {
      background-color: $bgc-section-header;
    }
  }
}
