@import "./helpers/styles/_variables.scss";

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: $main-font-famyly;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
