@import "./../../../helpers/styles/variables";
@import "./../../../helpers/styles/mixins";

.layout {
  .header__logo {
    @include flex-row-wrap;
    align-items: flex-end;
    gap: $gap-small;

    &-name {
      color: $text-black-theme;
    }
  }
}

.layout.white {
  .header__logo-name {
    color: $text-white-theme;
  }
}
