@import "./../../../helpers/styles/_variables.scss";

.layout {
  .header__logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: $gap-small;
    flex-wrap: wrap;

    &-name {
      color: $text-black-theme;
    }
  }
}

.layout.white {
  .header__logo-name {
    color: $text-white-theme;
  }
}
